body
  font normal normal 10px/1 "Roboto Condensed"

.wrapper
  size 70% 160px
  margin auto
  box-shadow 0px -30px 50px -7px rgba(0, 0, 0, 0.4)

a
  &,
  &:hover,
  &:visited
    color #563d7c

.content a
  font-weight bold