.zoom_preview
  padding 2px
  box-shadow 0 0 2px 1px rgba(0, 0, 0, 0.4)
  position absolute
  border 1px solid rgba(177, 177, 177, 1)
  border-radius 3px
  display: none
  z-index: 1000

.zoom_image
  width 330px